<div>
  <form class="newQuestion">
    <div class="form-group">
      <label for="title">Question</label>
      {{input value=query id="query" placeholder=question.query}}
    </div>

    <div class="form-group">
      <label for="content">More Info</label>
      {{textarea value=info id="info" placeholder=question.info}}
    </div>

    <div class="form-group">
      <label for="date">Your Name</label>
      {{input type="author" value=author class="author" placeholder=question.author}}
    </div>

    <div class="form-group">
      <label for="author">Date</label>
      {{input type="date" value=date id="date" placeholder=question.date}}
    </div>

    <button class="btn btn-xs detail" {{action 'saveQuestion1' question}}>Save</button>
  </form>
</div>
