<div class="well">
  <div class="well-heading">
  <p>{{question.author}} asks {{question.query}}</p>  
  </div>
  {{question.info}}
  {{question.date}}
</div>
  <button class="btn btn-xs detail" {{action 'delete' entry}}>Delete</button>
