<div class="well">
  <div class="well-heading">
    <p>{{question.author}} asks {{question.query}}</p>
  </div>
  {{question.info}}
  {{question.date}}
  <button class="btn btn-xs" {{action 'delete' question}}> Delete</button>
  {{update-question question=question update="update"}}
</div>
<div class="well">
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer question=model}}
  {{/each}}
</div>
