<div class="well">
  <div class="row">
    <div class="col col-md-6">
      <div class="well-heading">
        <p><span class="bolded">{{question.author}}</span>  asks <span class="bolded">{{question.query}}</span></p>
      </div>
      {{question.info}}<br>
      {{question.date}}<br>
    </div>
    <div class="col col-md-6">
      <div class="buttonsRight">
        <button class="btn btn-xs" {{action 'delete' question}}> Delete</button>
        {{update-question question=question update="update"}}
        {{#unless bookMarked}}
        <button class="btn btn-xs" {{action 'addToBookmark' question}}>Save Bookmark</button>
        {{else}}
        <p><small>Bookmark saved!</small></p>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
  {{#each sortedAnswers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer" upVote="upVote" downVote="downVote"}}
  {{/each}}
