{{#if updateQuestionForm}}
<div>
  <form class="updateQ">
    <div class="form-group">
      <label for="title">Question</label>
      <div class="input-group">
        {{input value=question.query id="query" placeholder=question.query}}
      </div>
    </div>

    <div class="form-group">
      <label for="content">More Info</label>
      <div class="input-group">
        {{textarea value=question.info id="info" placeholder=question.info}}
      </div>
    </div>

    <div class="form-group">
      <label for="date">Your Name</label>
      <div class="input-group">
        {{input type="author" value=question.author class="author" placeholder=question.author}}
      </div>
    </div>

    <button class="btn btn-xs detail" {{action 'update' question}}>Save</button>
  </form>
</div>
{{else}}
    <button class="btn btn-xs detail" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
